/* oup Pane titles */
.paddle-oup-title {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 5px;
}
/* oup page contact info headings */
.paddle-oup-heading {
  text-indent: 17px;
  margin-bottom: 5px;
}
.paddle-oup-address {
  margin-bottom: 15px;
}
.row .col-md-3 .pane-organizational-unit .col-md-6 {
  width: 100%;
  float: none;
  display: inline-block;
  margin: 0;
}
.node-type-organizational-unit #page-title {
  display: none;
}
.pane-node-field-paddle-ou-logo {
  float: left;
  margin-right: 10px;
}
.paddle-oup-page-title {
  margin-bottom: 10px;
}
.paddle-oup-head-unit {
  font-style: italic;
  font-size: 1.2em;
  margin-bottom: 10px;
}
.panel-pane.pane-node-field-paddle-ou-parent-1 {
  margin-bottom: 0;
}
.col-md-3 .paddle-oup-email .inline-block {
  max-width: 85%;
}
.region-content .pane-node-field-paddle-ou-logo .pane-content,
.region-content .pane-organizational-unit-info .pane-content {
  border: 0;
  box-shadow: none;
}
.pane-contact-information .pane-content {
  padding: 21px 15px 14px 15px;
}
.paddle-oup a {
  display: inline-block;
  width: 91%;
}
/* changing how the grid works to anticipate different  */
/* container sizes for the contact person  */
.col-md-7 > .pane-organizational-unit .col-md-6,
.col-md-6 .col-md-6 > .pane-organizational-unit .col-md-6,
.col-md-3 > .pane-organizational-unit .col-md-6,
.col-md-4 .pane-organizational-unit .col-md-6,
.col-md-5 > .pane-organizational-unit .col-md-6 {
  width: 100%;
  margin-left: 0;
}
.col-md-7 > .pane-organizational-unit .col-md-6 .inline-block a,
.col-md-6 .col-md-6 > .pane-organizational-unit .inline-block a,
.col-md-3 > .pane-organizational-unit .inline-block a,
.col-md-4 .pane-organizational-unit .inline-block a,
.col-md-5 > .pane-organizational-unit .inline-block a {
  display: inline-block;
  width: 89%;
}
